
<button (click)="getProducts()">Products</button>
<app-table [tableVar]="y"></app-table>


<!-- <table border="2px" class="table">
    <thead>
        <tr>
            <th>Title : </th>
            <th>Price : </th>
            <th>Brand  : </th>
            <th>Thumbnail : </th>
            <th>Images : </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let z of y">
            <td>{{z.title}}</td>
            <td>{{z.price}}</td>
            <td>{{z.brand}}</td>
            <td><img [src]="z.thumbnail" alt=""></td>
            <td><img [src]="z.images[0]" alt=""></td>
        </tr>
    </tbody>
</table> -->
