
<div>
    <form class="form">
        <tr>
            <th>
                Product Name : <input type="text">
            </th>
        </tr>
        <tr>
            <th>
                Product Price : <input type="number">
            </th>
        </tr>
        <tr>
            <th>
                Product Quantity : <input type="number">
            </th>
        </tr>
        <tr>
            <th>
                Total Amount : <input type="number">
            </th>
        </tr>
        <tr>
            <th><button>ADD Product</button></th>
        </tr>
    </form>
</div>
