<!-- <h1>{{title}}</h1>

<ul *ngFor="let x of employee">
    <li><h2>{{x}}</h2></li>
</ul>

<h1 [ngStyle] ="{'color' : 'red', 'font-weight' : '60px'}">Types Of Directives :</h1> -->

<!-- <app-product></app-product> -->

<!-- <app-form></app-form> -->
<!-- <app-oppo></app-oppo> -->

<!-- <h1>{{subjectName}}</h1>
<h2>{{subjectName | uppercase}}</h2>
<h2>{{subjectName | lowercase}}</h2>
<h3>{{date | date : "dd-MMM-yy"}}</h3>

<h3>Square Root -> {{225 | custom}}</h3> -->

<app-home></app-home>

<!-- <app-parent></app-parent> -->
