<div>
  <form action="">
    <tr>
      <th>Name :</th>
      <th><input type="text" /></th>
    </tr>
    <tr>
      <th>Email :</th>
      <th><input type="email" /></th>
    </tr>
    <tr>
      <th>Password :</th>
      <th><input type="password" /></th>
    </tr>
    <tr>
      <th>Contact :</th>
      <th><input type="tel" /></th>
    </tr>
    <tr>
      <th>Country :</th>
      <th><input type="text" /></th>
    </tr>
  </form>
</div>
<button>Login</button>
<button><a routerLink="/register">Register</a></button>
