<h2>Coding Book List :</h2>
<h2>{{husband}}</h2>
<ol>
    <li><img src="{{ javasrc }}" alt="" height="150px" width="100px">
        Java by : {{java}}</li>
    <li><img src="{{ pythonsrc }}" alt="" height="150px" width="100px">
        Python by : {{python}}</li>
    <li><img src="{{ angularsrc }}" alt="" height="150px" width="100px">
        Angular by : {{angular}}</li>
    <li><img src="{{ jssrc }}" alt="" height="150px" width="100px">
        JavaScript by : {{javaScript}}</li>
        <li><app-image></app-image></li>
</ol>

<h2>{{"Hii   :  " + rascal}}</h2>
<button (click)="fireEvent()">Send Event :</button>
<button (click)="event()">IPL</button>
<button (click)="javaEvent()">Java Book</button>